@using MVC_OnlineTicariOtomasyon.Models.Classes
@model List<Sales>
@{
    ViewBag.Title = "DepartmentEmployeeSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>@ViewBag.employeeName Sales Details</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Employee: @ViewBag.employeeName</li>
</ol>
<table class=" table table-hover">
    <tr>
        <th>Sales ID</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SalesID</td>
            <td>@item.SalesDate</td>
            <td>@item.Customer.CustomerName</td>
            <td>@item.Product.ProductName</td>
            <td>@item.SalesPrice</td>
            <td>@item.SalesQuantity</td>
            <td>@item.SalesTotalPrice</td>
        </tr>

    }
</table>

