@using MVC_OnlineTicariOtomasyon.Models.Classes
@model List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Customers</h2>
<table class="table table-bordered" style="margin-top:15px ">
    <tr>
        <th>Customer ID</th>
        <th>Customer Name-Surname</th>
        <th>Customer City</th>
        <th>Customer Mail</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CustomerName @item.CustomerSurname</td>
            <td>@item.CustomerCity</td>
            <td>@item.CustomerMail</td>
            <td>
                @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.CustomerID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete ?')" })
                <a href="/Department/GetDepartment/@item.CustomerID" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Update</a>
                <a href="/Department/DepartmentDetails/@item.CustomerID" class="btn btn-success"><i class="fas fa-info-circle"></i> Purchases</a>
            </td>
        </tr>
    }
</table>
<a href="/Department/AddDepartment" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add New Customer</a>

