@using MVC_OnlineTicariOtomasyon.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Customers</h2>
<table class="table table-bordered" style="margin-top:15px ">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name-Surname</th>
        <th>Employee Department</th>
        <th>Employee Image</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.EmployeeName @item.EmployeeSurname</td>
            <td>@item.Department.DepartmentName</td>
            <td><img src="@item.EmployeeImage" style="width:128px; height:128px"/></td>
            <td>
                @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.EmployeeID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete ?')" })
                <a href="/Employee/GetEmployee/@item.EmployeeID" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Update</a>
                <a href="/Department/DepartmentEmployeeSales/@item.EmployeeID" class="btn btn-success"><i class="fas fa-info-circle"></i> Sales</a>
            </td>
        </tr>
    }
</table>
<a href="/Employee/AddEmployee" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add New Employee</a>





