@model MVC_OnlineTicariOtomasyon.Models.Classes.Sales
@{
    ViewBag.Title = "NewSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>New Sale Page</h2>
<br />
<form class="form-group" method="post">
    <label>Select the Employee</label>
    @Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.Employees, new { @class = "form-control" })
    <br />
    <label>Select the Customer</label>
    @Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.Customers, new { @class = "form-control" })
    <br />
    <label>Select the Product</label>
    @Html.DropDownListFor(model => model.ProductID, (List<SelectListItem>)ViewBag.Products, new { @class = "form-control" })
    <br />
    <label>Enter the Quantity</label>
    @Html.TextBoxFor(x => x.SalesQuantity, new { @class = "form-control" })
    <br />
    <label>Enter the Sales Price</label>
    @Html.TextBoxFor(x => x.SalesPrice, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="btnAdd">Make A Sale</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $('#btnAdd').click(function ()
    {
        alert('Sale successful!')
    });
</script>


