@using MVC_OnlineTicariOtomasyon.Models.Classes
@model List<Sales>
@{
    ViewBag.Title = "SaleDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Sale Details</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Sales ID: @ViewBag.SaleID</li>
</ol>
<table id="tb11" class=" table table-hover">
    <thead>
        <tr>
            <th>Sales ID</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.SalesID</td>
                <td>@item.SalesDate</td>
                <td>@item.Customer.CustomerName</td>
                <td>@item.Product.ProductName</td>
                <td>@item.SalesPrice</td>
                <td>@item.SalesQuantity</td>
                <td>@item.SalesTotalPrice</td>
                <td>
                    <a href="/Sales/PrintSale/@item.SalesID" class="btn btn-success"><i class="fas fa-print"></i> Print</a>
                </td>
            </tr>
        }
        </tbody>
</table>
<a href="/Sales/Index/" class="btn btn-success"><i class="fas fa-arrow-left"></i> Back to Sales Page</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
